 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script><!--


<script src="bower_components/jcarousel-master/dist/jquery.jcarousel.min.js"></script>
<script src="bower_components/jcarousel-master/examples/connected-carousels/jcarousel.connected-carousels.js"></script>
<script src="bower_components/slick/slick.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

 -->
<!-- <script src="js/jquery.waypoints.js"></script> -->
<script src="js/libs.js"></script>
<!-- <script src="libs/js/slick.min.js"></script> -->
<script src="js/main.js"></script>
</body>

</html>

