
.icon-door:before { content: '\e800'; } /* '' */
.icon-gazone-machine:before { content: '\e801'; } /* '' */
.icon-pazle:before { content: '\e802'; } /* '' */
.icon-car1:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-garden:before { content: '\e805'; } /* '' */
.icon-graphic:before { content: '\e806'; } /* '' */
.icon-anceta:before { content: '\e807'; } /* '' */
.icon-car2_2:before { content: '\e808'; } /* '' */
.icon-pice_of_paper:before { content: '\e809'; } /* '' */
.icon-house:before { content: '\e80a'; } /* '' */
.icon-tree:before { content: '\e80b'; } /* '' */
.icon-scissors:before { content: '\e80c'; } /* '' */
.icon-hose:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-hands:before { content: '\e80f'; } /* '' */
.icon-key:before { content: '\e810'; } /* '' */
.icon-instrument:before { content: '\e811'; } /* '' */
.icon-man:before { content: '\e812'; } /* '' */